:root {
  --clr-primary: hsl(230, 35%, 7%);
  --clr-secondary: hsl(231, 77%, 90%);
  --clr-accent: hsl(0, 0%, 100%);

  --font-primary: "Bellefair";
  --font-secondary: "Barlow Condensed";

  --padding-page-sm: 24px;

  --fs-h1-sm: 80px;
  --fs-h1-md: 150px;
  --fs-h1-lg: 150px;
  --fs-h5-sm: 16px;
  --fs-h5-md: 20px;
  --fs-h5-lg: 28px;
  --fs-p-sm: 15px;
  --fs-p-md: 16px;
  --fs-p-lg: 18px;

  --mw-450: 450px;
  --mw-1440: 1440px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--clr-primary);
}
body {
  position: relative;
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: var(--padding-page-sm);

  background: url("../assets/home/background-home-mobile.jpg") center/cover
    no-repeat;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--fs-h1-sm);
  color: var(--clr-accent);
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 100px;
  margin: 1rem 0 1rem 0;
}
h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--fs-h5-sm);
  color: var(--clr-secondary);
  font-family: var(--font-secondary);
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: 2.7px;
}
p {
  text-align: center;
  font-size: var(--fs-p-sm);
  color: var(--clr-secondary);
  font-family: var(--font-secondary);
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1px;
}
@media screen and (min-width: 768px) {
  body {
    padding: 0 0 0 0;
    background: url("../assets/home/background-home-tablet.jpg") center/cover
      no-repeat;
  }
  h1 {
    font-size: var(--fs-h1-md);
    margin: 3rem 0 3rem 0;
  }
  h5 {
    font-size: var(--fs-h5-md);
    margin-top: 1rem;
  }
  p {
    font-size: var(--fs-p-md);
  }
}
@media screen and (min-width: 1080px) {
  body {
    padding: 40px 0 0 0;
    background: url("../assets/home/background-home-desktop.jpg") center/cover
      no-repeat;
  }
  h1 {
    font-size: var(--fs-h1-lg);
    margin: 3rem 0 3rem 0;
  }
  h5 {
    font-size: var(--fs-h5-lg);
    margin-top: 3rem;
  }
  p {
    font-size: var(--fs-p-lg);
  }
}
div:nth-child(3) {
  max-width: var(--mw-450);
}
.circle-explore {
  cursor: pointer;
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin: 1rem 0 1rem 0;
  outline: 88px solid transparent;
}
.circle-explore a {
  text-decoration: none;
}
.circle-explore a:active,
.circle-explore a:focus,
.circle-explore a:visited {
  color: var(--clr-primary);
}
.circle-explore:hover {
  outline: 88px solid rgba(255, 255, 255, 0.1);
  transition: all 0.1s linear;
}
.circle-explore span {
  font-size: 20px;
  color: var(--clr-primary);
  line-height: 22.92px;
  letter-spacing: 1.25px;
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 22.92px;
  letter-spacing: 1.25px;
}
@media screen and (min-width: 768px) {
  .circle-explore {
    width: 224px;
    height: 224px;
    margin: 3rem 0 3rem 0;
  }
}
@media screen and (min-width: 1080px) {
  .circle-explore {
    width: 274px;
    height: 274px;
    margin: 3rem 0 3rem 0;
  }
  .circle-explore span {
    font-size: 32px;
    line-height: 36.67px;
    letter-spacing: 2 px;
  }
}
@media screen and (min-width: 1440px) {
  div:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-100% - 100px), calc(-50% + 100px));
  }
  div:nth-child(3) * {
    text-align: left;
  }
  .circle-explore {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(calc(150% + 200px), calc(-50% + 130px));
  }
}
