:root {
  --clr-primary: hsl(230, 35%, 7%);
  --clr-secondary: hsl(231, 77%, 90%);
  --clr-accent: hsl(0, 0%, 100%);

  --font-primary: "Bellefair";
  --font-secondary: "Barlow Condensed";

  --padding-page-sm: 24px;

  --mw-450: 450px;
  --mw-1440: 1440px;

  --fs-h3-sm: 24px;
  --fs-h3-md: 40px;
  --fs-h3-lg: 56px;
  --fs-h4-sm: 16px;
  --fs-h4-md: 20px;
  --fs-h4-lg: 28px;
  --fs-h5-sm: 16px;
  --fs-h5-md: 25px;
  --fs-h5-lg: 32px;
  --fs-h6-sm: 14px;
  --fs-h6-md: 16px;
  --fs-h6-lg: 18px;
  --fs-p-sm: 15px;
  --fs-p-md: 16px;
  --fs-p-lg: 18px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h3 {
  font-family: "Bellefair";
  font-size: var(--fs-h3-sm);
  font-weight: 400;
  line-height: 27.5px;
  letter-spacing: 2.7px;
  color: var(--clr-accent);
  text-transform: uppercase;
  text-align: center;
}
h4 {
  font-family: "Barlow Condensed";
  font-size: var(--fs-h4-sm);
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: 2.7px;
  color: var(--clr-accent);
  text-transform: uppercase;
  padding: 35px 0 35px 0;
  text-align: center;
}
h4 span {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 16px;
}
h6 {
  font-family: "Barlow Condensed";
  font-size: var(--fs-h6-sm);
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 2.36px;
  color: var(--clr-secondary);
  text-transform: uppercase;
  padding: 9px 0 9px 0;
  text-align: center;
}
p {
  font-family: "Barlow";
  font-size: var(--fs-p-sm);
  font-weight: 400;
  line-height: 25px;
  color: var(--clr-secondary);
  padding: 8px 0 8px 0;
  text-align: center;
  max-width: var(--mw-450);
  margin: 0 auto 0 auto;
}
body {
  background: url("../assets/technology/background-technology-mobile.jpg")
    center/cover no-repeat;
  min-height: 100vh;
  width: 100vw;
  padding: var(--padding-page-sm);
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: var(--fs-h3-md);
    line-height: 45.84px;
  }
  h4 {
    font-size: var(--fs-h4-md);
    line-height: 24px;
    letter-spacing: 3.38px;
    padding: 45px 0 45px 0;
    padding-left: 39px;
    text-align: left;
  }
  h4 span {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 16px;
  }
  h6 {
    font-size: var(--fs-h6-md);
    line-height: 19.2px;
    letter-spacing: 2.7px;
    padding: 16px 0 16px 0;
  }
  p {
    font-size: var(--fs-p-md);
    line-height: 28px;
    padding: 16px 0 16px 0;
    margin: 0 auto 0 auto;
  }
  body {
    background: url("../assets/technology/background-technology-tablet.jpg")
      center/cover no-repeat;
  }
}
@media screen and (min-width: 1080px) {
  h3 {
    font-size: var(--fs-h3-lg);
    line-height: 45.84px;
  }
  h4 {
    font-size: var(--fs-h4-lg);
    line-height: 33.6px;
    letter-spacing: 4.72px;
  }
  h4 span {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 16px;
  }
  p {
    font-size: var(--fs-p-lg);
    line-height: 32px;
  }
  body {
    background: url("../assets/technology/background-technology-desktop.jpg")
      center/cover no-repeat;
  }
}

.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-primary);
}
.technology-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img-container {
  width: 100vw;
  transform: translateX(-24px);
}
.img-container img {
  width: 100%;
}
.technology-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 34px 0 34px 0;
}
.technology-link {
  color: var(--clr-accent);
  text-decoration: none;
  font-size: 16px;
}
.technology-link:focus,
.technology-link:visited {
  color: var(--clr-accent);
}
.active-link {
  color: var(--clr-primary) !important;
}
.active-link > div {
  background-color: var(--clr-accent);
}
.small-circle {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  margin: 0 8px 0 8px;
}
.desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  body {
    padding: 0;
  }
  .small-circle {
    height: 58px;
    width: 58px;
  }
  .img-container {
    transform: translateX(0);
  }
  .technology-link {
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  body {
    padding: 40px 0 0 0;
  }
  .mobile-tablet {
    display: none;
  }
  .desktop {
    display: flex;
    max-width: 1440px;
    margin: auto;
  }
  p,
  h3,
  h6 {
    width: 100%;
    text-align: left;
    margin: 0 auto 0 0;
  }
  .desktop > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .desktop > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-container {
    max-width: 36%;
  }
  .technology-navbar {
    flex-direction: column;
    padding-left: 165px;
  }
  .technology-link {
    font-size: 32px;
  }
  .small-circle {
    width: 80px;
    height: 80px;
    margin: 16px 0 16px 0;
  }
}
